# Database
MONGO_URL=mongodb://mongo:27017/Horarios_SENA

# Backup Database Configuration
# Los backups se hacen de MONGO_URL y se suben automáticamente a Google Drive
# en la carpeta "database-backups".
# Se eliminan backups locales después de 7 días y de Drive después de 15 días.
# Backup automático: diariamente a las 3:00 AM

# Server
PORT=4500
NODE_ENV=production


# JWT
JWT_SECRET=tu_clave_secreta_aqui

# Email Configuration
SECURY_EMAIL=hmpe geop msgf zvqt
FROM_EMAIL=marketplacesuporteam@gmail.com

# Frontend URLs
URL_FRONTEND=http://localhost:3000/#'
URL_SERVER=http://localhost:4500/api

# Google Drive API
GOOGLE_DRIVE_API_KEY=repfora-c966104279a7.json

# SOFIA Plus Configuration
SOFIA_URL=http://senasofiaplus.edu.co/sofia-public/
SOFIA_USER=your_user
SOFIA_PASS=your_password
SOFIA_RETRY_DELAY=60000
MAX_GROUPS_TO_PROCESS=1
OUTPUTDIR=./downloads
CRON_ENABLED=false
EMAIL_ENABLED=true
HEADLESS=true

# Test Email
TEST_MAIL_RECIPIENT=test@example.com
USE_TEST_RECIPIENT=false

# Storage Options: local or DRIVE
STORAGE_TYPE=local
